{% extends 'layouts/base.html.twig' %}

{% block header %}
    <section class="page-section bg-primary mt-5 p-5">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white font-weight-bold pt-5">{{ website.name }}</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div>
                <p class="font-weight-light text-white pb-5 mb-0" align="justify">
                    ok
                </p>
            </div>
        </div>
    </section>
{% endblock %}
