{% extends 'layouts/base.html.twig' %}

{% block body %}
    <header class="text-white pb-0 mb-0">
        <div class="container">
            <!-- Presentation Section Heading-->
            <h2 class="text-center text-secondary font-weight-bold word-spacing-large">
                Bienvenue sur <b>{{ website.name }}</b>
            </h2>
            <!-- Icon Divider-->
            <div class="divider-custom pb-4">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div>
                <div class="text-white pb-4 mb-0 text-justify font-size-18">
                    Que ce soit pour présenter <b>votre parcours</b> à des recruteurs, partager <b>vos réalisations</b> à des potentiels clients ou encore simplement rassembler <b>vos informations professionnelles</b>, la solution <span class="font-weight-bold"><b>{{ website.name }}</b></span> peut répondre à <b>votre besoin</b>.
                </div>
                <div class="text-white pb-4 mb-0 text-justify font-size-18">
                    Ici vous pouvez constituer <b>votre profil</b> de manière visuelle en quelques clics avec les informations suivantes :<br>
                    <i class="fas fa-arrow-right tab"></i><i>Votre présentation technique</i><br>
                    <i class="fas fa-arrow-right tab"></i><i>Le détails des projets que vous avez réalisés</i><br>
                    <i class="fas fa-arrow-right tab"></i><i>Votre parcours de manière générale</i><br>
                    <i class="fas fa-arrow-right tab"></i><i>Vos expériences professionnelles</i><br>
                </div>
                <div class="text-white pb-5 mb-0 text-justify font-size-18">
                    Ensuite, vous n'avez qu'à partager <b>votre lien personnel</b> disponible une fois connecté dans l'onglet <b>Profil</b> ou directement dans la barre d'adresse. Les personnes ayant accés à ce lien pourront alors visualiser toutes les informations présentes sur votre profil.
                </div>
                <table class="table table-bordered text-white width-fit-content bg-secondary m-auto">
                    <thead>
                    <tr>
                        <th><i class="fas fa-info-circle"></i> Aide</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <i class="fas fa-caret-square-right"></i>
                            Pour vous connectez, cliquez sur <i class="fas fa-sign-in-alt"></i> .<br>
                            <i class="fas fa-caret-square-right"></i>
                            Pour créer un nouveau profil, cliquez sur <i class="fas fa-user-plus"></i> .<br>
                            <i class="fas fa-caret-square-right"></i>
                            Pour consulter le profil d'un utilisateur, procurez vous son lien personnel.<br>
                            <i class="fas fa-caret-square-right"></i>
                            Pour toutes remarques, n'hésitez pas à contacter directement <a class="text-white font-weight-bold" href="mailto:florian.berson@gmx.fr">Florian Berson</a>.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </header>
{% endblock %}