<h1>Bienvenue sur ePortfolio+ !</h1>

<p>
    Merci de bien vouloir confirmer votre adresse mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">{{ signedUrl|raw }}</a>. <br>
    Expire dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Cordialement, <br><br>

    La plateforme ePortfolio+
</p>
