{% for type, messages in app.flashes(['success', 'info', 'warning']) %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} rounded mb-3" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}