<footer id="footer" class="text-center bg-secondary pt-4 pb-4">
    <small class="text-white unselectable">
        <i><a class="text-white" href="{{ url('app_home') }}">{{ website.name }}</a></i> &middot; {{ 'now'|date('Y') }} &middot; Built with <span class="text-danger">&hearts;</span> by <a class="text-white" href="https://github.com/KickAps">KickAps</a>
    </small>
</footer>