@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import 'shared/_variables.scss';

@import "~bootstrap";

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: $primary-font, sans-serif;
    margin-top: 80px;
    height: calc(100% - 80px - 30px);
}

.main-container {
    @extend .container;
    max-width: 100%;
    padding-top: 30px;
    margin-bottom: 30px;
    min-height: calc(100% - 70px);
}

.container-profile {
    @extend .container;
    padding: 5%;
}

#footer {
    height: 70px;
}

.article {
    min-height: calc(100% - 33px);
}

.alert {
    padding: 10px;
    text-align: center;
    margin: auto;
    border: none;
    border-radius: 0;
    max-width: 40%;
}

.title {
    color: $primary-color;
    font-weight: bold;
    text-transform: uppercase;
}

.no-title + .title {
    color: #495057;
    font-weight: 400;
    text-transform: none;
    overflow: hidden;
}

.center-75 {
    width: 75%;
    margin: auto;
}

.center-50 {
    width: 50%;
    margin: auto;
}

.center-25 {
    width: 25%;
    margin: auto;
}

.word-spacing-large {
    word-spacing: 5px;
}

.font-size-18 {
    font-size: 20px;
}

.tab {
    margin-left: 5px;
    margin-right: 10px;
}

.fit-content {
    width: fit-content;
}

.project-image-show {
    display: inline-block;
    position: relative;

    & img {
        @extend .rounded;
    }
}

.secondary-color {
    color: $secondary-color;
}

.project-image-update {
    display: inline-block;
    position: relative;

    & img {
        @extend .rounded;
        opacity: 1;

        &:hover {
            opacity: 0.8;
        }
    }

    & .btn {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: grey;
        color: white;
        font-size: 25px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background-color: #555;
        }
    }
}

.main-image img {
    border: 5px solid gold;
}

.secondary-image img {
    border: 2px solid grey;
}

.project {
    height: 100%;

    & img {
        transition: transform 0.3s ease-out;
        border: 2px solid grey;

        &:hover {
            transform: scale(1.075);
        }
    }
}

li.active {
    color: #fff;
    background-color: $primary-color;
}

.width-fit-content {
    width: fit-content;
}

.timeline-div {
    height: 400px;
}

.display-none {
    display: none;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Bootstrap Template */
nav {
    height: 80px;
}

.navbar-brand {
    @extend .navbar-brand;
    font-size: 1.5rem;
}

#navbarsExample04 {
    font-size: 1.25rem;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .divider-custom-line {
        width: 100%;
        max-width: 7rem;
        height: 0.25rem;
        background-color: $secondary-color;
        border-radius: 1rem;
        border-color: $secondary-color !important;

        &:first-child {
            margin-right: 1rem;
        }
        &:last-child {
            margin-left: 1rem;
        }
    }

    & .divider-custom-icon {
        color: $secondary-color !important;
        font-size: 2rem;
    }

    &.divider-light .divider-custom-line {
        background-color: #fff;
    }
    &.divider-light .divider-custom-icon {
        color: #fff !important;
    }
}

.bg-primary {
    background-color: $primary-color !important;
}

.bg-secondary {
    background-color: $secondary-color !important;
}

.text-secondary {
    color: $secondary-color !important;
}

.btn-danger {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-primary {
    @include button-variant($primary-color, darken($primary-color, 7.5%), darken($primary-color, 10%), lighten($primary-color,5%), lighten($primary-color, 10%), darken($primary-color,30%));
    @extend .btn-danger;
}

.btn-primary-secondary {
    @include button-variant($secondary-color, darken($secondary-color, 7.5%), darken($secondary-color, 10%), lighten($secondary-color,5%), lighten($secondary-color, 10%), darken($secondary-color,30%));
    @extend .btn-danger;
}
