@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import 'shared/_variables.scss';

@import "~bootstrap";

html, body {
    font-family: $primary-font, sans-serif;
}

.main-container {
    @extend .container;
    max-width: max-content;
}

.alert {
    padding: 10px;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;
}

.project-image-show {
    display: inline-block;
    position: relative;

    & img {
        @extend .rounded;
    }
}

.project-image-update {
    display: inline-block;
    position: relative;

    & img {
        @extend .rounded;
        opacity: 1;

        &:hover {
            opacity: 0.8;
        }
    }

    & .btn {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: grey;
        color: white;
        font-size: 25px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background-color: #555;
        }
    }
}

.main-image img {
    border: 5px solid gold;
}

.secondary-image img {
    border: 2px solid grey;
}

.project img {
    transition: transform 0.3s ease-out;
    border: 2px solid grey;
    
    &:hover {
        transform: scale(1.075);
    }
}
