@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import 'shared/_variables.scss';

@import "~bootstrap";

html, body {
    font-family: $primary-font, sans-serif;
}

.main-container {
    @extend .container;
    max-width: 100%;
    margin-top: 100px;
}

.alert {
    padding: 10px;
    text-align: center;
    margin: auto;
    border: none;
    border-radius: 0;
    max-width: 40%;
}

.title {
    color: #1abc9c;
    font-weight: bold;
    text-transform: uppercase;
}

.center-75 {
    width: 75%;
    margin: auto;
}

.center-50 {
    width: 50%;
    margin: auto;
}

.project-image-show {
    display: inline-block;
    position: relative;

    & img {
        @extend .rounded;
    }
}

.project-image-update {
    display: inline-block;
    position: relative;

    & img {
        @extend .rounded;
        opacity: 1;

        &:hover {
            opacity: 0.8;
        }
    }

    & .btn {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: grey;
        color: white;
        font-size: 25px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background-color: #555;
        }
    }
}

.main-image img {
    border: 5px solid gold;
}

.secondary-image img {
    border: 2px solid grey;
}

.project img {
    transition: transform 0.3s ease-out;
    border: 2px solid grey;

    &:hover {
        transform: scale(1.075);
    }
}

li.active {
    color: #fff;
    background-color: #1abc9c;
}

.width-fit-content {
    width: fit-content;
}

.timeline-div {
    height: 300px;
}

.display-none {
    display: none;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Bootstrap Template */
.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;

    & .masthead-heading {
        font-size: 2.75rem;
        line-height: 2.75rem;
    }
    & .masthead-subheading {
        font-size: 1.5rem;
    }
    & .masthead-avatar {
        width: 15rem;
    }
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .divider-custom-line {
        width: 100%;
        max-width: 7rem;
        height: 0.25rem;
        background-color: #2c3e50;
        border-radius: 1rem;
        border-color: #2c3e50 !important;

        &:first-child {
            margin-right: 1rem;
        }
        &:last-child {
            margin-left: 1rem;
        }
    }

    & .divider-custom-icon {
        color: #2c3e50 !important;
        font-size: 2rem;
    }

    &.divider-light .divider-custom-line {
        background-color: #fff;
    }
    &.divider-light .divider-custom-icon {
        color: #fff !important;
    }
}

.bg-primary {
    background-color: #1abc9c !important;
}

.bg-secondary {
    background-color: #2c3e50 !important;
}

.text-secondary {
    color: #2c3e50 !important;
}

.btn-danger {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-primary {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;

    &.block {
        display: block;
    }

    &:hover {
        color: #fff;
        background-color: #159a80;
        border-color: #148f77;
    }
    &:focus, &.focus {
        color: #fff;
        background-color: #159a80;
        border-color: #148f77;
        box-shadow: 0 0 0 0.2rem rgba(60, 198, 171, 0.5);
    }
    &.disabled, &:disabled {
        color: #fff;
        background-color: #1abc9c;
        border-color: #1abc9c;
    }
    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle {
        color: #fff;
        background-color: #148f77;
        border-color: #12846e;
    }
    &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus, .show > &.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(60, 198, 171, 0.5);
    }
}
