{% extends 'layouts/base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <h1>Créer Project</h1>

    {{ include('/layouts/partials/_form.html.twig', {submitButtonText: 'Créer'}) }}

    <a href="{{ path('app_projects') }}">Retour</a>
{% endblock %}
