{% extends 'layouts/base.html.twig' %}

{% set title = navbar.new ~ " | " ~ website.name %}

{% block body %}
    <h1>{{ tab.new }}</h1>

    {{ include('/layouts/partials/_form.html.twig', {submitButtonText: button.create}) }}

    <a href="{{ path('app_projects') }}">{{ button.return }}</a>
{% endblock %}
