{% extends 'layouts/base.html.twig' %}

{% set title = navbar.new ~ " | " ~ website.name %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>{{ tab.new }}</h1>

            {{ include('/layouts/partials/_form.html.twig', {submitButtonText: button.create}) }}
        </div>
    </div>
{% endblock %}
