{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <article>
        <h2>{{ project.name }}</h2>
        <p>{{ project.description }}</p>
        <a href="{{ path('app_projects') }}">Retour</a>
    </article>
{% endblock %}
