{% extends 'layouts/base.html.twig' %}

{% set title = project.title ~ " | " ~ website.name %}

{% block body %}
    <div class="row">
        <div class="col-md6 mx-auto">
            <h1>{{ tab.update }}</h1>

            {{ include('/layouts/partials/_form.html.twig', {submitButtonText: button.update}) }}
        </div>
    </div>
{% endblock %}
