{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <h1>Modifier un project</h1>

    {{ form_start(myForm) }}
        {{ form_widget(myForm) }}
        <input type="submit" value="Modifier">
    {{ form_end(myForm) }}

    <a href="{{ path('app_projects') }}">Retour</a>
{% endblock %}
