{% extends 'layouts/base.html.twig' %}

{% set title = project.title ~ " | " ~ website.name %}

{% block body %}
    <h1>{{ tab.update }}</h1>

    {{ include('/layouts/partials/_form.html.twig', {submitButtonText: button.update}) }}

    <a href="{{ path('app_projects') }}">{{ button.return }}</a>
{% endblock %}
