{% extends 'layouts/base.html.twig' %}

{% block body %}
    <header class="bg-primary text-white text-center">
        {{ include('layouts/partials/_flash_messages.html.twig')}}
        <div class="container-profile d-flex align-items-center flex-column">
            <!-- Avatar Image-->
            <img class="mb-5" src="" alt="avatar" />
            <!-- User Heading-->
            <h1 class="text-uppercase mb-0 font-weight-bold">{{ user.firstName }} {{ user.lastName }}</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="font-weight-bold mb-0">{{ user.work }}</p>
        </div>
    </header>
{% endblock %}
